# Archivos binarios y ejecutables
*.exe
*.dll
*.so
*.dylib

# Archivos de compilación
*.o
*.a
*.obj

# Archivos generados por el compilador
*.test
*.out
*Dokerfile
.env
*.mod

# Archivos de dependencias

vendor/
/tmp